<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lifemind.bluer.mapper.PageMapper">

    <resultMap id="BaseResultMap" type="com.lifemind.bluer.entity.Page">
            <id property="id" column="id" jdbcType="INTEGER"/>
            <result property="pageContent" column="page_content" jdbcType="VARCHAR"/>
            <result property="imgPath" column="img_path" jdbcType="VARCHAR"/>
            <result property="noteId" column="note_id" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,page_content,img_path,
        note_id
    </sql>
</mapper>
